.clock_words {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include align-content(center);
    margin: 0 auto;
    max-width: 600px;

    .row {
        @include flexbox;
        @include flex-direction(row);
        @include flex-grow(1);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);
        @include align-content(center);

        &.minutes {
            @include justify-content(center);
            width: 100%;
        }
    }

    .minutes_wrapper {
        @include flexbox;
        @include flex-direction(row);
        @include flex-grow(1);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);
        @include align-content(center);
        margin-top: 0.45em;
        max-width: 40%;
    }
}


.words {
    color: $gray;
    font-size: 54px;
    padding: 0.1em 0;
    text-transform: uppercase;

    &.always_on,
    &.on {
        color: $white;
    }
}

.mins {
    background: $gray;
    height: 30px;
    width: 30px;

    &.on {
        background: $white;
    }
}